<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eloify</title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
  <style type="text/css">
    body {
      background-color: #1b1c1d;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
  </head>

  <body>

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a href="/" class="active item white">Eloify</a>

        <div class="right item">
          <a class="ui button" href="" style="margin-right : 10px;">Log in</a>
          <a class="ui button inverted" href="/user/register">Sign Up</a>
        </div>
      </div>
    </div>



<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui inverted image header">
      <div class="content">
        Eloify
      </div>
    </h1>
<br>
    <h2 class="ui inverted image header">
      <div class="content">
        Login
      </div>
    </h2>
    <form class="ui large form" method="post" action="/user/login">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large blue submit button" style="width : 50%; margin-left : 100px;">Login</button>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New here? <a href="/user/register">Sign Up</a>
    </div>
  </div>
</div>

</body>
</html>
