<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Testing Games</title>
  </head>
  <body>
      <h1>Enter some random country.</h1>
    <form action="/game-response" method="post">
      <input type="text" name="country" value="">
      <br><br>
      <button>Enter</button>
    </form>

<h3> <%= myCountry %></h3>

  </body>
</html>
