<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eloify</title>
  </head>
  <body>
    <h1><a href="/user/logout">Logout</a></h1>
    <h1>Username : <%= username %></h1>

  <ul>
    <h3>This will be the users personal page. We will show...</h3>
    <li><h4>Stats</h4></li>
    <li><h4>Friends</h4></li>
    <li><h4>Followers/Following</h4></li>
    <li><h4>ELO Score</h4></li>
    <li><h4>Questions Created/ Answered </h4></li>
  </ul>
  </body>
</html>
