<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eloify</title>
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>

  </head>
  <body>

    <div class="ui container">
      <br><br>
      <h1>Thank You. Your question has been submitted!</h1>

      <a href="/user/viewQs" class="ui button large">View Quesitons</a>
  <br><br>
      <a href="/user/createQs" class="ui button large">Create Another Question</a>
    </div>



<script type="text/javascript">

$('.ui.radio.checkbox').checkbox();

</script>

  </body>

</html>
