<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eloify</title>
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>

  </head>
  <body>
<!--  -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="item" href="/">Eloify</a>



    <div class="right menu">

      <div class="item">
        <a class="ui button" href="/user/logout">Log Out</a>
      </div>

      <div class="item">
        <a class="ui primary button" href="/user/me"> <i class="user icon"></i> Profile </a>
      </div>


    </div>
  </div>
</div>





    <!--  -->
    <div class="ui container">

  <br><br><br><br>

<a class="ui button small" href="/user/viewQs">View User Created Questions</a>

    <h1 style="text-align : center">Create a Question</h1>




    <form action="/user/submitQs" method="post">
<br><br>

  <h3>Select A Topic</h3>
<select name="topics" multiple="" class="ui fluid search dropdown">
  <option value="">Select Topic(s)</option>

<!-- Math topics/ -->
<option value="Math(Simple)">Math(Simple)</option>
<option value="Math(Hard)">Math(Hard)</option>

<!-- History topics. -->
<option value="History(US)">History(US)</option>
<option value="History(World)">History(World)</option>

<!-- Language topics. -->
<option value="Language(English)">Language(English)</option>
<option value="Language(Spanish)">Language(Spanish)</option>

<!-- Literature topics -->
<option value="Literature(Philosophy)">Literature(Philosophy)</option>
<option value="Literature(Non-fiction)">Literature(Non-fiction)</option>

<!-- Science Topics -->
<option value="Science(Chemistry)">Science(Chemistry)</option>
<option value="Science(Physics)">Science(Physics)</option>

<!-- Computer Science Topics -->
<option value="Computer Science(Software)">Computer Science(Software)</option>
<option value="Computer Science(AI)">Computer Science(AI)</option>
<option value="Computer Science(Languages)">Computer Science(Languages)</option>


</select>

<div class="ui form">

<br>
  <div class="field">
    <label>Enter Question</label>
    <textarea rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 85px;" name="question"></textarea>
  </div>

  <div class="ui form">
    <div class="fields">
      <div class="field">
        <label>Choice A</label>
        <input type="text" placeholder="Choice A" name="qA">
      </div>
      <div class="field">
        <label>Choice B</label>
        <input type="text" placeholder="Choice B" name="qB">
      </div>
      <div class="field">
        <label>Choice C</label>
        <input type="text" placeholder="Choice C" name="qC">
      </div>
      <div class="field">
        <label>Choice D</label>
        <input type="text" placeholder="Choice D" name="qD">
      </div>

    </div>
  </div>

</div>

<br>

    <div class="ui form">
  <h3>Select the correct Answer</h3>
      <div class="inline fields">

        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="choice" checked="" tabindex="0" class="hidden" value="a">
            <label>A</label>
          </div>

  <br>

          <div class="ui radio checkbox">
            <input type="radio" name="choice" checked="" tabindex="0" class="hidden" value="b">
            <label>B</label>
          </div>
<br>

          <div class="ui radio checkbox">
            <input type="radio" name="choice" checked="" tabindex="0" class="hidden" value="c">
            <label>C</label>
          </div>

<br>
          <div class="ui radio checkbox">
            <input type="radio" name="choice" checked="" tabindex="0" class="hidden" value="d">
            <label>D</label>
          </div>
<br> <br>
<button class="ui button large">Submit</button>
            </div>



          </div>

    </form>



<script type="text/javascript">

$('.ui.radio.checkbox').checkbox();

$('.ui.dropdown')
  .dropdown()
;

</script>

  </body>

</html>
