<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eloify</title>
  </head>
  <body>
    <h2>Your Answers</h2>
    <ul>
      <%questions.forEach(function(question){%>
        <li> <h3> <%= question %></h3></li>
      <%})%>
    </ul>

    <h2 style="color : green">Correct Answers</h2>
    <ul>
      <%answers.forEach(function(answer){%>
        <li> <h3> <%= answer %></h3></li>
      <%})%>
    </ul>

  <h2>
    <a href="/user/me">Done</a>
  </h2>
  </body>
</html>
